.fvst_tabfocus_move_stopper:focus,
.fvst_tabfocus_move_detector:focus {
    outline: none;
}


.fvst_flat_container_transition {
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}




.fvst_html_module.standy_state {
    opacity: 0;
    transform: translateY(1.5%);
}

.fvst_html_module.enter_transition {
    transition-property: transform, opacity;
    transition-duration: 150ms;
}

.fvst_html_module.leave_transition {
	transition-property: opacity, transform;
	transition-duration: 200ms;
	transition-timing-function: ease;
}

.fvst_html_module.end_state {
    opacity: 0;
    transform: translateY(3%);
}




.fvst_dialog_window_standy_state {
    opacity: 0;
    transform: scale(0.98, 0.98) translateY(1.5%);
}

.fvst_dialog_window_enter_transition {
    transition-property: transform, opacity;
    transition-duration: 150ms;
}

.fvst_dialog_window_leave_transition {
	transition-property: opacity, transform;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

.fvst_dialog_window_end_state {
    opacity: 0;
    transform: scale(0.98, 0.98) translateY(1.5%);
}





.fvst_popup_menu_container {
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.4)
}


.fvst_popup_menu_standy_state {
    opacity: 0;
}

.fvst_popup_menu_enter_transition {
    transition-property: opacity;
    transition-duration: 80ms;
}

.fvst_popup_menu_leave_transition {
	transition-property: opacity;
	transition-duration: 0ms;
	transition-timing-function: ease-in;
}

.fvst_popup_menu_end_state {
    opacity: 0;
}





.fvst_dialog_window_container {
    box-shadow: 6px 6px 25px -5px rgba(0,0,0,0.4);
}

.fvst_dialog_window_header {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    background-color: #3d5885;
    cursor: default;
}

.fvst_dialog_window_header.inactive {
    background-color: #B0B0B0;
}

.fvst_dialog_window_header .caption {
	flex-grow: 1;
	text-align: left;
	font-size: 10pt;
	color: #FFFFFF;
	padding-left: 8px;
}

.fvst_dialog_window_header .close_button {
	width: 30px;
	flex-grow: 0;
	flex-shrink: 1;
	text-align: center;
	color: #FFFFFF;
	background-image: url("../img/window_close_button.svg");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: 10px;
}

.fvst_dialog_window_header .close_button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.fvst_dialog_window_body {
    background-color: #FFFFFF;
}

.fvst_dialog_window_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5F5;
}




.fvst_modal_background_layer {
    background-color: rgba(0, 0, 0, 0.3);
}

.fvst_modal_background_layer.standy_state {
    opacity: 0;
}

.fvst_modal_background_layer.enter_transition {
	transition-duration: 120ms;
	transition-timing-function: ease;
}

.fvst_modal_background_layer.leave_transition {
	transition-duration: 120ms;
	transition-timing-function: ease;
}

.fvst_modal_background_layer.end_state {
    opacity: 0;
}