.spa_overlay_container {
    overflow: hidden;
    box-shadow: 8px 8px 25px -5px rgba(0,0,0,0.4);
}

.spa_dialog_window_header {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    background-color: #3d5885;
    cursor: default;
}

.spa_dialog_window_header.inactive {
    background-color: #B0B0B0;
}

.spa_dialog_window_header .caption {
	flex-grow: 1;
	text-align: left;
	font-size: 10pt;
	color: #FFFFFF;
	padding-left: 8px;
}

.spa_dialog_window_header .close_button {
	width: 30px;
	flex-grow: 0;
	flex-shrink: 1;
	text-align: center;
	color: #FFFFFF;
	background-image: url("../img/window_close_button.svg");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: 10px;
}

.spa_dialog_window_header .close_button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.spa_dialog_window_body {
    background-color: #FFFFFF;
}

.spa_dialog_window_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5F5;
}

.spa_modal_background_layer {
    background-color: rgba(0, 0, 0, 0.3);
}
